{% extends 'index/layout.html' %}
{% block body %}
	{% if not user.is_authenticated %}
		<center><div class="not-loggedin">
			<h1>You should logged in!</h1>
			<a href="{% url 'register' %}" class="btn btn-dark">Register</a>
			<a href="{% url 'login' %}" class="btn btn-dark">Login</a>
		</div></center>
	{% else %}
		<div class="container">
			<a href="{% url 'notes' %}" class="btn btn-dark tool-choices">Notes</a>
			<a href="{% url 'todo' %}" class="btn btn-dark tool-choices">To-do</a>
			<a href="{% url 'password' %}" class="btn btn-dark tool-choices">Password Manager</a>
		</div>
	{% endif %}
{% endblock %}
