{% extends 'index/layout.html' %}
{% block nav-item %}
<li class="nav-item">
	<a href="{% url 'index' %}" class="nav-link">Home Page</a>
</li>
<li class="nav-item">
	<a href="{% url 'login' %}" class="nav-link">Login</a>
</li>
{% endblock %}
{% block body %}
<form class="form-box container" method="post" action="{% url 'register' %}">
	<h1 class="form-title">Register</h1>{% if message %}<h4 class="error-message">{{message}}</h4>{% endif %}<hr>
	{% csrf_token %}
	<div class="form-group">
		Username:
		<input type="text" name="username" class="form-control">
	</div>
	<div class="form-group">
		Email:
		<input type="email" name="email" class="form-control">
	</div>
	<div class="form-group">
		Password:
		<input type="password" name="password" class="form-control">
	</div>
	<div class="form-group">
		Password Confirmation:
		<input type="password" name="confirmation" class="form-control">
	</div>
	<div class="form-group">
		<input type="submit" class="form-control btn btn-dark">
	</div>
</form>
{% endblock %}